<html> <head>
<title>ACP Controle Times</title>

  <!-- 'viewport' is used by bootstrap to respond to device size -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Javascript:  JQuery from a content distribution network (CDN) -->
  <script
     src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
  </script>

  <!-- Bootstrap includes javascript and css  (must follow jquery) -->
  <link rel="stylesheet"
   href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
   <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js">
   </script>

  <!-- moment.js is the JavaScript equivalent of arrow.py -->
  <script 
    src="{{ url_for('static', filename="js/moment.min.js") }}"></script>

</head>

   <link rel="stylesheet" href="/static/css/calc.css" />

<body>

<div class="container">

<h1>ACP Brevet Times</h1>
  <p>This worksheet is for ACP-sanctioned brevets between 200 and 1000 kilometers</p>

<form action="/new" method="POST">
<div class="row">
  <div class="col-md-4">
    <label>Distance</label>
  <select name="distance" id="brevet_dist_km">
    <option value="200">200km</option>
    <option value="300">300km</option>
    <option value="400">400km</option>
    <option value="600">600km</option>
    <option value="1000">1000km</option>
  </select>
  </div> <!-- columns 1--4  -->
  <div class="col-md-6">
    <label>Begins at</label>
    <input type=date name="begin_date" id="begin_date" value="2017-01-01" />
    <input type=time name="begin_time" id="begin_time" value="00:00"    />
  </div> <!-- columns 5-10 -->
  </div> <!-- row -->

  <br />  <!-- Cosmetic -- a little vertical space -->
  <div class="row">
  <div class="col-md-12">
  <table class="control_time_table">
      <tr>
        <th> Miles </th>
        <th> Km </th>
        <th>Location</th>
        <th>Open</th>
        <th>Close</th>
        <th>Notes</th>
      </tr>  
      {% for row in range(20) %}
      <tr class="control">
           <td><input name="miles" type="text" 
           min="0" max="900" size="5" /></td>
           <td><input name="km" type="text"
           min="0" max="1100" size="5" /> </td>
           <!-- Location (optional) -->
           <td><input name="location" type="text" 
           placeholder="Optional location name"
           size="20" /> </td>
           <!-- Open time (read only, set by JavaScript function -->
           <td><input name="open" type="datetime" value="" readonly /></td>
           <!-- Close time (read only, set by JavaScript function -->
           <td><input name="close" type="datetime" value="" readonly /></td>
           <!-- Notes (error messages for this row) -->
           <td class="notes"> &nbsp; </td>
      </tr>
      {% endfor %}
  </table>
  </div> <!-- col -->
  </div> <!-- row -->
  <input type="submit" name="action" value="Submit"></input>
</form>
<form action="/display" method="POST">
  <input type="submit" name="action" value="Display"></input>
</form>
<p id="test"> </p>

<script type="text/javascript">

  var SCRIPT_ROOT = {{ request.script_root|tojson|safe }} ;
  var TIME_CALC_URL = SCRIPT_ROOT + "/_calc_times";

  // Pass calctimes a <td> element containing the data for a control.
  // It extracts the distance and calls the server to get times to
  // fill in open and close times in a human-readable format.
  // (If we want to also keep the ISO-formatted times, we'll need to
  // stash them in hidden fields.) 
  function calc_times(control) {
    var km = control.find("input[name='km']").val();
    var brev = ( $( "#brevet_dist_km").val() );

    if (km > (brev * 1.2) ) {
        control.find(".notes").html('Control ' +km+ ' is 20% longer than brevet distance ' +brev);      
    }

    var b_date = ( $( "#begin_date").val() );
    var b_time = ( $( "#begin_time").val() );
    
    var open_time_field = control.find("input[name='open']");
    var close_time_field = control.find("input[name='close']");

    $.getJSON(TIME_CALC_URL, { km: km , brev: brev , b_date: b_date, b_time: b_time }, 
      // response handler
      function(data) {
         var times = data.result;
         console.log("Got a response: " +  times);
         console.log("Response.open = " + times.open);
         open_time_field.val( moment.utc(times.open).format("ddd M/D H:mm"));
         close_time_field.val( moment.utc(times.close).format("ddd M/D H:mm"));
       } // end of handler function
     );// End of getJSON
     
    }

  $(document).ready(function(){

      $('input[name="miles"]').change(
         function() {
             var miles = parseFloat($(this).val());
             var km = (1.609344 * miles).toFixed(1) ;
             console.log("Converted " + miles + " miles to " + km + " kilometers");
             var control_entry = $(this).parents(".control")
             var target = control_entry.find("input[name='km']");
             target.val( km );
             // Then calculate times for this entry
             calc_times(control_entry);
          });

      $('input[name="km"]').change(
         function() {
             var km = parseFloat($(this).val());
             var miles = (0.621371 * km).toFixed(1) ;
             console.log("Converted " + km + " km to " + miles + " miles");
             var control_entry = $(this).parents(".control")
             var target = control_entry.find("input[name='miles']");
             target.val( miles );
             // Then calculate times for this entry
             calc_times(control_entry);
          });

     
     });   // end of what we do on document ready




</script>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <!-- Mismatch, already found, etc. "flashed" from Python -->
    {% for message in messages %}
      <p class="message">{{ message }}</p>
    {% endfor %}
  {% endif %}
{% endwith %}


{% for item in items %}
  <p> {{ item.name }} <p>
  <p> {{ item.description }} <p>
{% endfor %}

</div>
</body> </html>
